:root {
  --purple-dark: #361f2d;
  --purple-medium: #63203d;
  --accent-pink: #ba1e4a;
  --accent-green: #88baa3;
  --accent-beige: #e4e6c3;
  --purple-faded: #63203dbd;
  --purple-dark-faded: #361f2dd0;
}
